<script lang="ts">
  import '../../app.scss';
  import Notifications from 'svelte-notifications';
  import Navbar from '$lib/layout/Navbar.svelte';
</script>

<main class="flex flex-grow flex-col h-full">
  <Notifications>
    <Navbar />
    <div class="flex-grow mx-auto w-full">
      <slot />
    </div>
  </Notifications>
</main>
